.bibliomanga {background-color: $darklughtblue; margin: 30px; padding: 30px; 
    box-sizing: border-box;
    .coleccionmanga {display: flex;
        .margen {margin: 5%; border: 5px solid $backblack; text-align: center;
        
    }
}}

.bibliomangamobile {display: none;}